In [1]:
1 + 2

3

In [2]:
5 * 6

30

In [3]:
15 / 3

5.0

In [4]:
15 // 3

5

In [5]:
2 ** 4

16

In [6]:
10 % 2

0

In [7]:
13 % 2

1

In [8]:
name_of_var = "some name"

In [9]:
name_of_var

'some name'

In [11]:
str_val = 'string_value'
string_val2 = "double q"
docstring = '''some docs for the function'''

In [12]:
str_val

docstring

'some docs for the function'

In [13]:
string_val2

'double q'

In [14]:
str_val

'string_value'

In [15]:
print("Hey! This is python")

Hey! This is python

In [18]:
num = 17
name = "Amit"
print("My number is {} and my name is {}".format(num, name) )

My number is 17 and my name is Amit

In [21]:
num = 17
name = "Amit"
print("My number is {one} and my name is {two}".format(one=num, two=name) )

My number is 17 and my name is Amit

In [22]:
["Virat", "Rohit", "Shami"]

['Virat', 'Rohit', 'Shami']

In [24]:
my_list =["virat", "Rohit", ["Ashwin", "Siraj"]]

In [25]:
type(my_list)

list

In [26]:
type(my_list[0])

str

In [27]:
type(my_list[2])

list

In [28]:
[1, "Amit", "Suraj", [0, "NAMe"]]

[1, 'Amit', 'Suraj', [0, 'NAMe']]

In [29]:
my_list.append("Kuldeep")

In [30]:
my_list

['virat', 'Rohit', ['Ashwin', 'Siraj'], 'Kuldeep']

In [31]:
my_list.insert(1, "Hardik")

In [32]:
my_list

['virat', 'Hardik', 'Rohit', ['Ashwin', 'Siraj'], 'Kuldeep']

In [33]:
my_list.pop()
my_list

['virat', 'Hardik', 'Rohit', ['Ashwin', 'Siraj']]

In [34]:
del my_list[1:3]
my_list

['virat', ['Ashwin', 'Siraj']]

In [35]:
fruit_basket = ['apple', 'orange', 'lemon', 'guava', 'pears', 'apple', 'orange', 'lemon', 'lemon']

In [36]:
fruit_basket[1:4]

['orange', 'lemon', 'guava']

In [37]:
sub_list = fruit_basket[1: 4]

In [38]:
sub_list

['orange', 'lemon', 'guava']

In [39]:
fruit_basket.count("lemon")

3

In [40]:
fruit_basket[2:]

['lemon', 'guava', 'pears', 'apple', 'orange', 'lemon', 'lemon']

In [41]:
fruit_basket[-1]

'lemon'

In [43]:
fruit_basket[-3:-1]

['orange', 'lemon']

In [44]:
fruit_basket[0] = 'apple'
fruit_basket

['apple',
 'orange',
 'lemon',
 'guava',
 'pears',
 'apple',
 'orange',
 'lemon',
 'lemon']

Dictionary

my_dict = {"key1" : "value1", "key2" : "value2"}

In [45]:
my_dict = {"key1" : "value1", "key2" : "value2"}

In [47]:
type(my_dict)

dict

In [49]:
my_dict["key1"]
my_dict["key2"]

'value2'

In [50]:
my_dict["key1"] = "new value"

In [51]:
my_dict

{'key1': 'new value', 'key2': 'value2'}

Tuples

In [52]:
my_tup = (1, 2, 3)
type(my_tup)

tuple

In [53]:
my_tup[0]

1

In [54]:
my_tup[2]

3

Sets

In [55]:
my_set = {2,2,3,5,6,6,8,2,4}
type(my_set)

set

In [56]:
my_set

{2, 3, 4, 5, 6, 8}

Comparison Operators

In [57]:
20 > 30

False

In [58]:
15 < 19

True

In [59]:
1 >= 1

True

In [60]:
1 <= 4

True

In [61]:
1 == 1

True

In [62]:
'hi ' == 'bye'

False

In [64]:
'hi' == 'hello'

False

Logic Operators

In [65]:
(1 > 2) and (2 < 3)

False

In [66]:
(1 > 2) or (2 < 3)

True

In [67]:
(1 == 2) or (2 == 3) or (4 == 4)

True

Conditionals: if, elif, else

In [69]:
if 1 < 2:
    print("yes")

yes

In [73]:
if 1 > 2:
    print("first")
else:
    print("Second")

Second

In [74]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('2nd')
else:
    print('last')

2nd

For loops

In [75]:
seq = [1,2,3,4,5,6]

In [76]:
for i in seq:
    print(i)

1
2
3
4
5
6

In [77]:
for i in seq:
    print("Yep")

Yep
Yep
Yep
Yep
Yep
Yep

In [78]:
for num in seq:
    print(num + num)

2
4
6
8
10
12

In [83]:
i = 1
while i < 5:
    print(i + 1)
    i = i + 1

2
3
4
5

In [84]:
range(5)

range(0, 5)

In [85]:
range(25, 30)

range(25, 30)

In [86]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [87]:
for i in range(10, 17):
    print(i)

10
11
12
13
14
15
16

In [88]:
list(range(5))

[0, 1, 2, 3, 4]

#### list comprehension

In [89]:
x = [1,2,3,4,5]
for i in x:
    print(i**2)

1
4
9
16
25

In [90]:
[i**2 for i in x]

[1, 4, 9, 16, 25]

In [91]:
x = [1,2,3,4,5, -2, -3]
[i**2 for i in x if i > 0]

[1, 4, 9, 16, 25]

In [92]:
[i**2 for i in x]

[1, 4, 9, 16, 25, 4, 9]

In [94]:
[(i, j) for i in x for j in x if i==j]

[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (-2, -2), (-3, -3)]

##Looping through dict

In [95]:
my_dict

{'key1': 'new value', 'key2': 'value2'}

In [97]:
for k, v in my_dict.items():
    print(k, v, sep=',')

key1,new value
key2,value2

In [98]:
alph_sets = set("amit rakshit")

In [99]:
alph_sets

{' ', 'a', 'h', 'i', 'k', 'm', 'r', 's', 't'}

In [100]:
name = set("amit")

In [101]:
name

{'a', 'i', 'm', 't'}

In [102]:
alph_sets - name

{' ', 'h', 'k', 'r', 's'}

In [103]:
alph_sets & name

{'a', 'i', 'm', 't'}

In [104]:
other_set = set("zjlyp")

In [105]:
alph_sets&other_set

set()

In [106]:
alph_sets|other_set

{' ', 'a', 'h', 'i', 'j', 'k', 'l', 'm', 'p', 'r', 's', 't', 'y', 'z'}